.card3__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: auto;
     height: 170px ;
}
.card3__img{
    scale: .7;
    position: absolute;
    top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px ,2.5vw ,200px);
    height: clamp(100px ,2.5vw ,200px);
    border-radius: clamp(180px ,2.5vw ,320px);
    border: 13px solid var(--green);
    background-color: var(--white);
    z-index: 2;
}
.card3__img img{
    width: clamp(100px,2.5vw,200px);
    padding: 5px;
    align-self: center;
    
}
.card3__name{
    width: clamp(200px,2.5vw,400px);
    height: clamp(100px,2.5vw,200px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themered);
    border-radius: 10px;
}
.card2__name_title{
    margin-top: 25px;
}