.card4__container{
/*     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lwhite);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}
.card4__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px ,14.5vw ,180px);
    /* height: clamp(70px ,14.5vw ,150px); */
    padding-top: 40px;
    padding-bottom: 25px;
    background-color: #ffffff;
    
}
.card4__img img{
    width: clamp(50px,10vw,100px);
    padding: 5px;
    align-self: center;
    
}
.card4__text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
   justify-content: flex-start;
  
}
.card4__text > *{
    margin: 0px 5px;
    
}
.card4__text_name{
    width: clamp(70px ,11.5vw ,120px);
    display: flex;
    height: 26px;
    overflow: hidden;
}
.card4__text_rate{
    display: flex;
    align-items: center;
}
.card4__text_rate > *{
  padding: 3.5px;
}
.card4__text_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: rgb(43, 42, 42);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
 
}