.cardsimple__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: auto;
   
}
.cardsimple__img{
    scale: .7;
    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px ,2.5vw ,200px);
    height: clamp(100px ,2.5vw ,200px);
    border-radius: clamp(180px ,2.5vw ,320px);
   
 
    z-index: 2;
}
.cardsimple__img img{
    width: clamp(100px,2.5vw,200px);
    padding: 5px;
    align-self: center;
    
}
.cardsimple__name{
    width: clamp(100px,22.5vw,200px);
  height: clamp(180px,22.5vw,270px);
    min-height: 200px;
    min-width: 148px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
   
}
.cardsimple__name_title{
   padding-bottom: 10px;
}
@media(max-width:436px){
    .cardsimple__name{
        scale: .68;
    }
}